{% extends "global/pages/master-page.html" %}
{% load static %}

<title> GECC | {% block title %} Eventos {% endblock title %} </title>


{% block conteudo %}

    <div class="titulo-sessao-principal">
        <h2>Lista de Processos Abertos</h2>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2 btn-novo-verde" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">Novo Processo</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <table class="table tabela-relatorio">
        <thead class="table-green-if">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome do Evento</th>
            <th scope="col">Tipo</th>
            <th scope="col">Responsável</th>
            <th scope="col">Período</th>
            <th scope="col">Campus</th>
            <th scope="col">Situação</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Processo Seletivo de Estudantes dos Cursos Integrados - 2025</td>
            <td>Marcio Alencar</td>
            <td>Concurso</td>
            <td>01/10/2025 até 15/12/2025</td>
            <td>Serrinha</td>                        
            <td>Iniciado</td>                        
            <td><i class="fa fa-search icone-acao icone-consultar" aria-hidden="true"></i><i class="fa fa-pencil icone-acao icone-editar" aria-hidden="true"></i><i class="fa fa-trash icone-acao icone-excluir" aria-hidden="true"></i></td>                        
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Processo Seletivo de Estudantes dos Cursos Integrados - 2025</td>
            <td>Marcio Alencar</td>                        
            <td>Concurso</td>
            <td>01/10/2025 até 15/12/2025</td>
            <td>Serrinha</td>                        
            <td>Iniciado</td>                        
            <td><i class="fa fa-search icone-acao icone-consultar" aria-hidden="true"></i><i class="fa fa-pencil icone-acao icone-editar" aria-hidden="true"></i><i class="fa fa-trash icone-acao icone-excluir" aria-hidden="true"></i></td>                        
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Processo Seletivo de Estudantes dos Cursos Integrados - 2025</td>
            <td>Marcio Alencar</td>                        
            <td>Concurso</td>
            <td>01/10/2025 até 15/12/2025</td>
            <td>Serrinha</td>                        
            <td>Iniciado</td>                        
            <td><i class="fa fa-search icone-acao icone-consultar" aria-hidden="true"></i><i class="fa fa-pencil icone-acao icone-editar" aria-hidden="true"></i><i class="fa fa-trash icone-acao icone-excluir" aria-hidden="true"></i></td>                        
          </tr>
        </tbody>
      </table>


{% endblock conteudo %}

{% block javascript %}
    <script src="{% static 'login/js/script.js' %}"></script> 
{% endblock javascript %}